node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
.claude


# monorepo build outputs
apps/*/dist
packages/*/dist
apps/*/.wrangler
apps/*/node_modules
packages/*/node_modules
